<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Cliente</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label>Nombre</label>
                    <input [(ngModel)]="clientEntity.firstName" id="firstname" name="firstname" type="text"
                        class="form-control" id="firstname">
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input [(ngModel)]="clientEntity.lastName" name="lastname" id="lastname" type="text"
                        class="form-control" id="lastname">

                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input [(ngModel)]="clientEntity.email" name="email" id="email" type="text" class="form-control"
                        id="email">
                </div>

                <div class="form-group">
                    <label>Número de telefono</label>
                    <input [(ngModel)]="clientEntity.phoneNumber" name="phonenumber" id="phonenumber" type="text"
                        class="form-control" id="phonenumber">
                </div>

                <div class="form-group">
                    <label for="">Decoración</label>
                    <input [(ngModel)]="clientEntity.reservation.decor" name="decor" id="decor" type="checkbox"
                        value="true" class="form-control">
                </div>
                <button (click)="Actualizar(clientEntity)" class="btn btn-outline-danger">Actualizar</button>

            </form>

        </div>
    </div>
</div>