.boton1{
  
   margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}

.boton2{
  
    margin-top: 0%;
     margin-right: 0%;
     margin-left: 0%;
     margin-bottom: -1.35%;
 }

 .boton3{
  
    margin-top: 0%;
     margin-right: 0%;
     margin-left: 0%;
     margin-bottom: -1.35%;
 }
.fondo{
    background-color: #008CBA;
    margin-top: 0%;
    margin-bottom: 0%
}

.fondotitulo{
    margin-top: 0%;
    text-align: center;
    color: white;
    font-weight: 600;
    border: auto;
    width: auto;
    min-width: 30%;
    position: relative;
}

.b{
    display: block;
    width: 100%;
    color: #fff;
    background-color: rgb(3, 170, 226);
    border-color: #008CBA;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid transparent;
    font-weight: 400;
    overflow: visible;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.b:hover{
  border: 5px solid rgb(19, 90, 114);
 
}

.c{
    display: block;
    width: 100%;
    color: #fff;
    background-color: rgb(0, 154, 206);
    border-color: rgb(5, 140, 185);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid transparent;
    font-weight: 400;
    overflow: visible;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.d{
    display: block;
    width: 100%;
    color: #fff;
    background-color: yellowgreen;
    border-color: yellowgreen;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid transparent;
    font-weight: 400;
    overflow: visible;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.d:hover{
    border: 5px solid rgb(82, 110, 25);
   
  }



.c:hover{
  border: 5px solid rgb(19, 90, 114);
 
}