

                <div class="form-group">
                    <th><label for="">Descuento por persona:</label></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><label style="margin-left: 10px">{{reservation.bill.discountForPeople}}</label>
                    </th>
                </div>
                <div class="form-group">
                    <th> <label for="">Descuento por día:</label></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> <label style="margin-left: 10px">{{reservation.bill.discpuntForDays}}</label></th>
                </div>
                <div class="form-group">
                    <th> <label for="">VALOR TOTAL:</label></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> <label style="margin-left: 10px">{{reservation.bill.price}}</label></th>
                </div>
            

