.colore{
    color: azure;
}

.nullMensage{
    font-size: 2ex;
    font-family:monospace;
    background-color: rgb(15, 177, 231);
    color:ivory;
    padding-left: 2%;
    padding-right: 42.6%;
}

.nullMensageDate{
    font-size: 2ex;
    font-family:monospace;
    background-color: rgb(15, 177, 231);
    color:ivory;
    padding-left: 2%;
    padding-right: 41.4%;
}

.nullMensageEmail{
    font-size: 2ex;
    font-family:monospace;
    background-color: rgb(15, 177, 231);
    color:ivory;
    padding-left: 2%;
    padding-right: 57%;
}

.nullMensageLastName{
    font-size: 2ex;
    font-family:monospace;
    background-color: rgb(15, 177, 231);
    color:ivory;
    padding-left: 2%;
    padding-right: 54.6%;
}

.nullMensageFirtsName{
    font-size: 2ex;
    font-family:monospace;
    background-color: rgb(15, 177, 231);
    color:ivory;
    padding-left: 2%;
    padding-right: 57%;
}

.form-control2 {
    display: block;
    width: 6%;
    margin-left: 45%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #00b84c;
    background-color: #fff;
    background-clip:initial;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control2:focus {
    color: #04ce51;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.alertReserv{
     color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    position: relative;
    padding: .55rem 29.8%;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    
}

.alertReservDate{
    color: #004085;
   background-color: #cce5ff;
   border-color: #b8daff;
   position: relative;
   padding: .55rem 23.5%;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
   
}

.alertReservNunPeople{
    color: #004085;
   background-color: #cce5ff;
   border-color: #b8daff;
   position: relative;
   padding: .55rem 22.7%;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
}

.alertReservEmail{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    position: relative;
    padding: .55rem 30.7%;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}